.container {
	width: 24px;
	height: 24px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	margin: 0px 3px;
	border-width: 1px;
	border-style: solid;
}

.container a {
	top: 0;
	left: 0;
}

.container svg {
	width: 50%;
	height: 50%;
}

@media (min-width: 992px) {
	.container {
		width: 36px;
		height: 36px;
	}
}